<!--继承 模板 头和尾 模板 -->
<extend name="Base/cg3"/>
<block name="style">
    <link rel="stylesheet" href="__PUBLIC__/Wap/css/style_part.css"/>
</block>

<block name="body">

<div class="main main_Pub">
    <div class="recharge">
       <div class="title">账户余额：<span class="text-red">{$balance}</span>橙果币</div>
        <div class="content">
            <ul class="rechargeList clearfix">
                <li class="z-sel active">
                    <a href="javascript:;" class="z-sel position-re" ><font>10</font>元<s></s></a>
                </li>
                <li class="z-sel">
                    <a href="javascript:;" class="z-sel  position-re"><font>50</font>元<s></s></a>
                </li>
                <li class="z-sel">
                    <a href="javascript:;" class="z-sel position-re"><font>100</font>元<s></s></a>
                </li>
                <li class="z-sel">
                    <a href="javascript:;" class="z-sel position-re"><font>200</font>元<s></s></a>
                </li>
                <li class="z-sel">
                    <a href="javascript:;" class="z-sel position-re"><font>500</font>元<s></s></a>
                </li>
                <li class="z-sel">
                    <a href="javascript:;" class="z-sel position-re "><font>1000</font>元<s></s></a>
                </li>

            </ul>
            <div style="padding: 0 2% 10px 2%">
                <input name="other" class="form-control" id="balanceNum" min="1" max="5" type="number" value="10" pl  aceholder="充值金额" />
                <button type="button" class="btn btn-block" style="margin: 20px 0">确定</button>
                <p class="text-gray">充值可获得橙果币（1元=1橙果币），橙果币可用于参与云购，充值的款项将无法退回。</p>
            </div>

        </div>

    </div>
</div>

<div class="huitop"></div>
</block>

<block name="script">
    <script src="__PUBLIC__/Wap/js/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Wap/js/common_inc.js"></script>
    <script>
        $(function(){
            $('.z-sel').click(function()
            {
                $(this).addClass('active').siblings().removeClass('active');
                $('#balanceNum').val('');
                var inputStr=$(this).text();
                var inputStr2=parseInt(inputStr.replace(/[^0-9]/ig,""));//提取字符串中的数字
                $('#balanceNum').val(inputStr2).css('color','#ACACAC');
            });

        });
        //非0开头的数字以及限制最多输入五位数
        $('#balanceNum').focus(function()
        {
            $('.z-sel').removeClass('active');
            $(this).css('color','#555');
        });
        $('#balanceNum').blur(function()
        {
            var regVerifyNum_find=/^(0|[1-9][0-9]*)$/;//非0开头的数字
            var att_num =$(this).val();
            var curLength=$(this).val().length;
            if(!(regVerifyNum_find.test(att_num)))
            {
                $(this).val('');
            }
            if(curLength>5)
            {
                var num=$(this).val().substr(0,5);
                $(this).val(num).css('color','#555');
            }
            else
            {
                $(this).text(5-$(this).val().length);
            }
        });

        //提交表单
        $('.btn').click(function(){
            var input_money = parseInt($('#balanceNum').val());//获取输入框金额
            var check_money = parseInt($('.rechargeList li.active a font').text());//获取选择框金额
            var money =0;//alert(input_money);alert(check_money);
            if(input_money>0){
                money=input_money;
            }else{
                money=check_money;
            }

            //发送ajax 提交
//			 $.ajax({
//					type:'POST',
//					url:common_url+'/Recharge/ToRecharge',
//					dataType:'json',
//					data:{
//					rmb:money
//					},
//					success:function(data){
//						if(data['code']==200){
//							alert(data['message']);//成功 操作处理
//							//window.location.href="index.html";
//						}else{
//							alert(data['message']);
//						}
//					}
//				});
            window.location=common_url+'/Recharge/ToRecharge/rmb/'+money;
            return false;
        });

    </script>
</block>