

<!--继承 模板 头和尾 模板 -->
<extend name="Base/cg3"/>

<!-- 单独引入轮播css -->
<block name="style">
</block>

<block name="body">
<div class="main">
    <ul class="product_list" id="datas">

    </ul>
    <a class="add_more" id="more" style="display:block;width:100%;height:50px;line-height: 50px; text-align: center;">点击查看更多</a>

    <div class="clear"></div>
</div>



<div class="huitop"></div>
</block>


<block name="script">


    <script type="text/javascript" src="/Public/Wap/js/all.js"></script>
    <script type="text/javascript" src="/Public/Wap/js/util.js"></script>
    <script type="text/javascript" src="/Public/Wap/js/p.js"></script>
    <script type="text/javascript" src="/Public/Wap/js/record.js"></script>
    <script type="text/javascript" src="/Public/Wap/js/c.js"></script>



 </block>