<!--继承 模板 头和尾 模板 -->
<extend name="Base/cg3"/>
<!-- 单独引入css -->
<block name="style">
<link rel="stylesheet" href="__PUBLIC__/Wap/Bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/Wap/Bootstrap/css/font-awesome.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/Wap/css/register.css"/>
	
</block>
<block name="body">
	
	<div class="topdiv2">
		<div class="topnav">
	        <h1 class="pagetit">找回密码</h1>
	        <a class="fanhui" href="javascript:history.go(-1)"></a>
	        <a class="home" href="index.html"></a>
	    </div>
	</div>
	<div class="topzhanwei"></div>

	
<div class="register_main">

	<div class="register_main user_passwor">
		<div class="login_mobile" style="width:100%;padding-top:15px;">	
				<div class="register_box_input">
						<div class="input_box">
								<span style="width:68px">&nbsp;手机号：</span>
								<input style="padding-left: 66px;" class="mobile_fff mobile" maxlength='11' type="tel" name='mobile' placeholder='请输入手机号码！' value=''/>
						</div>
						<!--<div class="input_box login_mobile" style="border-radius:0px 0px 5px 5px;border-bottom: 1px solid #e6e6e6;height:47px">
								<span style="width:68px">&nbsp;验证码：</span>
								<input style="padding-left: 66px;border-radius:0px 0px 5px 5px;" class="password codever" maxlength='4' type="text" name='yanzhenma' placeholder='请输入验证码' value=''/>
								<div class="yanzma_box" style="top:0">
									<img src="../../Public/Wap/images/yanzma.png">
								</div>
						</div>-->
						<button type="submit" style="margin-top:25px;" class="cgyg_button zhuce_bt">下一步</button>
				</div>
		</div>
	<!-- 找回密码 -->

	<div class="login_main" style="width:100%;">
		
		<!--验证手机短信-->
		<div class="yanzhen_mobile" style="display:none;width:95%;margin:0 auto;" >
			<p class="cccfont">验证码已发送:<span id="send_mobile">18928904877</span> 请注册查收！</p>
			<form id='mobile_from' class="ajax_input" action="" method="post" >
				<input class="mobile_fff mobile_codever" maxlength='4' type="text" name='user' placeholder='请输入验证码' value=''/>
			<button type="submit" style="margin-top:5px;"  class="cgyg_button yanzhenMobile_bt">下一步</button>
			
			</form>
			<p class="cccfont">如未收到短信请在<span class="cgyg_color numFont">120</span></p>
			<button type="button" disabled="disabled" class="cgyg_button_f0f0f0 click_yanzhenma">重新发送</button>
		</div>
		

		<!--设置密码-->
	<div class="user_passwor" style="display:none">
			<div class="register_main user_passwor"  >	
			<div class="register_box_input">
				<div class="input_box">
						<span style="width:68px">&nbsp;新密码：</span>
						<input style="padding-left: 66px;" class="mobile_fff newPassword" maxlength='11' type="password" name='password' placeholder='请输入6-20位密码！' value=''/>
				</div>
				<div class="input_box input_boxrg" style="height:47px;">
						<span style="width:68px">&nbsp;新密码：</span>
						<input style="padding-left: 66px;border-radius:0px 0px 5px 5px;" class="password newPassword_re" maxlength='20' type="password" name='yanzhenma' placeholder='确认密码' value=''/>
				</div>

				<button type="submit" style="margin-top:25px;" class="cgyg_button password_bt">确认找回</button>
			</div>
		</div>
		</div>


	</div>
</div>	
</div>
</block>
<!-- 注册结束 -->
<block name="script">	
<script src="__PUBLIC__/Common/jquery.md5.js"></script>
<script src="__PUBLIC__/Wap/js/common_inc.js"></script>
<script>

		//注册验证 01
		var InterValObj;//timer变量，控制时间
		var count = 120; //间隔函数，1秒执行
		var curCount;//当前剩余秒数
		//倒计时
		function SetRemainTime() {
            if (curCount == 0) {     
                window.clearInterval(InterValObj);
            	$(".click_yanzhenma").removeAttr("disabled"); 
            	$(".click_yanzhenma").addClass("cgyg_button_f0f0f0_ok"); 
            	$(".numFont").text("重新发送");       
            }
            else {
                curCount--;
                $(".click_yanzhenma").attr("disabled",'disabled'); 
                $(".numFont").text(curCount + "秒内可重发！");
                $(".click_yanzhenma").removeClass("cgyg_button_f0f0f0_ok"); 
            }
        }

		$('.zhuce_bt').click(function(){
			
			var mobile = $('.mobile').val();//手机号码
			var isMobile=/^1[3456789]\d{9}$/; ;//手机号码正则表达式
			var codever = $('.codever').val();//验证码
			if(mobile==''){
				tanchuan_0('200','1000','200','请输入手机号码！');
				return false;
			}
			if(!isMobile.test(mobile)){
				tanchuan_0('200','1000','200','手机号码不正确！');
				return false;
			}

			/*if(codever == ''){
				tanchuan_0('200','1000','200','请输入验证码！');
				return false;
			}
			if(codever.length < 4 ){
				tanchuan_0('200','1000','200','验证码为4位！');
				return false;
			}*/
			
		  $.post(
			  "{:U('User/sendVerify')}",
			{
				mobile : mobile,
				state : 2,
				type : 2
			},
			function (data){
				if(data.code == 200){
					//倒计时
					curCount = count;
					$(".numFont").text(curCount);
					InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
					$('#send_mobile').html(mobile);
					$('.login_mobile').fadeOut();
					$('.yanzhen_mobile').fadeIn();
				}else{
					//发送失败
					tanchuan_0('200','1000','200',data.message);
					getVerify();
				}
			}
                )
			$('.login_mobile').fadeOut();
			$('.yanzhen_mobile').fadeIn();
			//倒计时
			curCount = count;
			$(".numFont").text(curCount);
			InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次

		});

		//验证手机号码 02
		$('.yanzhenMobile_bt').click(function(){		
			var mobile_codever = $('.mobile_codever').val();//短信验证码
			var mobile = $('.mobile').val();//手机号码
			if(mobile_codever == ''){
				tanchuan_0('200','1000','200','验证码不能为空！');
				return false;
			}
			if(mobile_codever.length < 4 ){
				tanchuan_0('200','1000','200','验证码不能不能少于4位！');
				return false;
			}
             
			//alert($("#send_mobile").html());
			//发送ajax 提交
			 $.ajax({
					type:'POST',
					url:"{:U('User/checkRegisterVerify')}",
					dataType:'json',
					data:{       
					      is_ajax : 1,
                          mobile : mobile,
                          mobile_verify : mobile_codever,
						  type:2
						  },
					success:function(data){
						if(data['code']==200){
							//alert(data);//加载成功 操作处理	
							tanchuan_0('200','1000','200',data['message']);
						}else{
							tanchuan_0('200','1000','200',data['message']);
						}
					}

				});	
			 $('.yanzhen_mobile').fadeOut();
			 $('.user_passwor').fadeIn();
                return false;
		});

		//重新发送验证码
		$('.click_yanzhenma').click(function(){
			//倒计时
			curCount = count;
			$(".numFont").text(curCount);
			InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
		});

		//提交密码 处理 03
		$('.password_bt').click(function(){
		    var mobile = $('.mobile').val();//手机号码
            var mobile_codever = $('.mobile_codever').val();//短信验证码
			var password    = $('.newPassword').val();//密码
			var password_re =$('.newPassword_re').val();//确认密码

			if(password == ''){
				tanchuan_0('200','1000','200','请输入密码');
				return false;
			}
			if(password_re == ''){
				tanchuan_0('200','1000','200','请确认密码');
				return false;
			}
			if(password.length < 6 || password_re.length > 20){
				tanchuan_0('200','1000','200','密码为6-20个字符');
				return false;
			}
			if(password != password_re){
				tanchuan_0('200','1000','200','两次密码不一致');
				return false;
			}
			//发送ajax 提交
			 $.ajax({
					type:'POST',
					url:"{:U('User/forgot_password')}",
					dataType:'json',
					data:{
					    is_ajax : 1,
						mobile : mobile,
						mobile_verify : mobile_codever,
						password : $.md5(password),
						repassword : $.md5(password_re),
					},
					success:function(data){
						if(data['code']==200){
							//alert(data);//加载成功 操作处理	
							tanchuan_0('200','1000','200',data['message']);
							window.location.href = "{:U('User/login')}";
						}else{
							tanchuan_0('200','1000','200',data['message']);
						}
					}

				});	
                return false;
		});
	



</script>
</block>
