  <!-- 个人中心参与记录 顶部导航开始-->     
        <div class="menulist">
            <ul class="mui-flex">
                <li class="cell text-center">
                    <a href="{:U('Member/attend','state=0')}" class="menu_a {$display0}">进行中</a>
                </li>
                <li class="cell text-center">
                    <a href="{:U('Member/attend','state=1')}" class="menu_a {$display1}">待揭晓</a>
                </li>
                <li class="cell text-center">
                    <a href="{:U('Member/attend','state=2')}" class="menu_a {$display2}">已揭晓</a>
                </li>
            </ul>
        </div>
	<!-- 个人中心参与记录 顶部导航结束-->   	