<!--右边 右边栏 返回顶部 功能菜单start-->
<div class="cg-right">
    <div class="cg-right-content" style="padding: 1.5px 0px;">
        <div class="cg-right-top" style="display: none;"><img src="__PUBLIC__/Home/images/right/right-text.png"></div>
        <div class="cg-right-car text-center" id="shopCart">
            <a href="payfor1.html">
                <span class="badge cg-badge goods_num cart_num">0</span>
                <!--<span class="badge cg-badge cart_num"></span>-->
                <img src="__PUBLIC__/Home/images/right/right-car.png">
                <!--<span class="cg-right-carText">购物车</span>-->
            </a>
        </div>
        <div class="cg-right-item service">
            <div class="layer-1">
                <a href="avascript:;"></a>
            </div>
            <div class="layer-2">
                <a href="tencent://Message/?Uin=3048007917&amp;websiteName=www.cgyyg.com=&amp;Menu=yes">客服</a>
            </div>
        </div>
        <div class="cg-right-item weixin">
            <div class="layer-1">
                <a href="javascript:;"></a>
            </div>
            <div class="layer-2">
                <a href="javascript:;">微信</a>
            </div>
            <div class="layer-box">
                <img src="__PUBLIC__/Home/images/code-cg.jpg" class="code-img">
            </div>
        </div>
        <div class="cg-right-item pay">
            <div class="layer-1">
                <a href="#"></a>
            </div>
            <div class="layer-2">
                <a href="recharge.html">充值</a>
            </div>
        </div>
        <div class="cg-right-bottom return-top">
            <div class="layer-1">
                <a href="#" class="return-top-a">
                    <span class="icon-angle-up" style="font-size: 28px;"></span>
                </a>
            </div>
            <div class="layer-2">
                <a href="javascript:;" class="cg-return-top">返回<br>顶部</a>
            </div>
        </div>
    </div>
</div>
<!--右边 右边栏 返回顶部 功能菜单end-->
