<!--继承 模板 头和尾 模板 -->
<extend name="Base/cg3"/>
<block name="style">
    <link rel="stylesheet" href="__PUBLIC__/Wap/css/style_part.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Wap/css/layer.css"/>
</block>
<block name="body">
<div class="main main_Pub">
    <div class="atttend_list">

        <ul class="product_list disWei_list clearfix">
		
            <li class="list_group padding-b5">
                <div class="list clearfix padding-b0">
                    <div class="img"><a href=""><img src="http://img.cgyyg.com/Uploads/Picture/2016-03-29/56fa32fc9f131.jpg"></a>
                    </div>
                    <div class="infos">
                        <h1 class="ellipsis margin_t10"><a href="">Apple MacBook Pro 15 Apple MacBook Pro 15</a></h1>
                        <div class="renci_jindu noheight" style="padding-right: 0">
                            <p class="text-size12 ellipsis">
                                <span class="text-gray">期号：10000212</span>
                            </p>
                            <p class="text-size12">
                                <span class="text-gray">发货信息：</span>
                                <span class="text-red">暂无</span>
                            </p>
                            <p class="text-size12">
                                <span class="text-gray">发货信息：</span>
                                <span class="text-red">123456789987654321</span>
                            </p>

                        </div>
                    </div>
                </div>
                <p class="lotteryBtnList">
                    <button type="button" class="btn btn-fixed_3" onclick="window.location.href='address_xiugai.html'" >添加地址</button>
                </p>

            </li>
            <li class="list_group padding-b5">
                <div class="list clearfix padding-b0">
                    <div class="img"><a href=""><img src="http://img.cgyyg.com/Uploads/Picture/2016-03-29/56fa32fc9f131.jpg"></a>
                    </div>
                    <div class="infos">
                        <h1 class="ellipsis margin_t10"><a href="">Apple MacBook Pro 15 Apple MacBook Pro 15</a></h1>
                        <div class="renci_jindu noheight" style="padding-right: 0">
                            <p class="text-size12 ellipsis">
                                <span class="text-gray">期号：10000212</span>
                            </p>
                            <p class="text-size12">
                                <span class="text-gray">发货方式：</span>
                                <span class="text-red">圆通快递</span>
                            </p>
                            <p class="text-size12">
                                <span class="text-gray">发货信息：</span>
                                <span class="text-red">123456789987654321</span>
                            </p>

                        </div>
                    </div>
                </div>
                <p class="lotteryBtnList">
                    <button type="button" class="btn margin-r15 btn-fixed_3 lineheigh-20" onclick="sureAddress($(this));">确定地址</button><!--统一搞大-->
                    <button type="button" class="btn btn-border position-re view_address lineheigh-20" style="padding-right: 10px;">
                        查看地址
                        <!--<s class="position-ab arrow-ud"><img src="../../Public/Wap/images/descarrbg2.png" height="6"/> </s>-->
                        <i class="fa fa-angle-down fa-angle"></i>
                    </button>

                </p>
                <ul class="lottery_address display-none">
                    <li class="address_list position-re">
                        <a href="address_list.html">
                            <p>这是用户的昵称咯&nbsp;18054524566</p>
                            <p class="address_info">
                                <span class="padding-r5">广东省</span><span class="padding-r5">深圳市</span><span class="padding-r5">宝安区</span>
                                这就是地址啦，此位置是详情地址页面，可能会有三行等多行的情况哦
                            </p>
                            <!--图标-->
                            <div class="icon-left position-ab">
                                <img src="../../Public/Wap/images/icon_location.png"/>
                            </div>
                            <div class="icon-right position-ab">
                                <img src="../../Public/Wap/images/right_vvv.png"/>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="list_group padding-b5">
                <div class="list clearfix padding-b0">
                    <div class="img"><a href=""><img src="http://img.cgyyg.com/Uploads/Picture/2016-03-29/56fa32fc9f131.jpg"></a>
                    </div>
                    <div class="infos">
                        <h1 class="ellipsis margin_t10"><a href="">Apple MacBook Pro 15 Apple MacBook Pro 15</a></h1>
                        <div class="renci_jindu noheight" style="padding-right: 0">
                            <p class="text-size12 ellipsis">
                                <span class="text-gray">期号：10000212</span>
                            </p>
                            <p class="text-size12">
                                <span class="text-gray">发货方式：</span>
                                <span class="text-red">暂无</span>
                            </p>
                            <p class="text-size12">
                                <span class="text-gray">发货信息：</span>
                                <span class="text-red">暂无</span>
                            </p>

                        </div>
                    </div>
                </div>
                <p class="lotteryBtnList">
                    <button type="button" class="btn margin-r15 btn-fixed_3 lineheigh-20" onclick="sureAddress($(this));">确定地址</button><!--统一搞大-->
                    <button type="button" class="btn btn-border position-re view_address lineheigh-20" style="padding-right: 10px;">
                        查看地址
                        <!--<s class="position-ab arrow-ud"><img src="../../Public/Wap/images/descarrbg2.png" height="6"/> </s>-->
                        <i class="fa fa-angle-down fa-angle"></i>
                    </button>

                </p>
                <ul class="lottery_address display-none">
                    <li class="address_list position-re">
                        <a href="address_list.html">
                            <p>这是用户的昵称咯&nbsp;18054524566</p>
                            <p class="address_info">
                                <span class="padding-r5">广东省</span><span class="padding-r5">深圳市</span><span class="padding-r5">宝安区</span>
                                这就是地址啦，此位置是详情地址页面，可能会有三行等多行的情况哦
                            </p>
                            <!--图标-->
                            <div class="icon-left position-ab">
                                <img src="../../Public/Wap/images/icon_location.png"/>
                            </div>
                            <div class="icon-right position-ab">
                                <img src="../../Public/Wap/images/right_vvv.png"/>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="list_group padding-b5">
                <div class="list clearfix padding-b0">
                    <div class="img"><a href=""><img src="http://img.cgyyg.com/Uploads/Picture/2016-03-29/56fa32fc9f131.jpg"></a>
                    </div>
                    <div class="infos">
                        <h1 class="ellipsis margin_t10"><a href="">Apple MacBook Pro 15 Apple MacBook Pro 15</a></h1>
                        <div class="renci_jindu noheight" style="padding-right: 0">
                            <p class="text-size12 ellipsis">
                                <span class="text-gray">期号：10000212</span>
                            </p>
                            <p class="text-size12">
                                <span class="text-gray">发货信息：</span>
                                <span class="text-red">顺丰快递</span>
                            </p>
                            <p class="text-size12">
                                <span class="text-gray">发货信息：</span>
                                <span class="text-red">123456789987654321</span>
                            </p>
                        </div>
                    </div>
                </div>
                <p class="lotteryBtnList">
                    <button type="button" class="btn margin-r15 btn-fixed_3 lineheigh-20" onclick="sureReeceive($(this));" >确定收货</button>
                    <button type="button" class="btn btn-border position-re view_address lineheigh-20" style="padding-right: 10px;">
                        查看地址
                        <!--<s class="position-ab arrow-ud"><img src="../../Public/Wap/images/descarrbg2.png" height="6"/> </s>-->
                        <i class="fa fa-angle-down fa-angle"></i>
                    </button>
                </p>
                <ul class="lottery_address display-none">
                    <li class="address_list position-re">
                        <a href="javascript:;">
                            <p>这是用户的昵称咯&nbsp;18054524566</p>
                            <p class="address_info">
                                <span class="padding-r5">广东省</span><span class="padding-r5">深圳市</span><span class="padding-r5">宝安区</span>
                                这就是地址啦，此位置是详情地址页面，可能会有三行等多行的情况哦
                            </p>
                            <!--图标-->
                            <div class="icon-left position-ab">
                                <img src="../../Public/Wap/images/icon_location.png"/>
                            </div>
                            <!--<div class="icon-right position-ab">
                                <img src="../../Public/Wap/images/right_vvv.png"/>
                            </div>-->
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>

<div class="huitop"></div>
<!-- 模态框（Modal） -->
</block>
<block name="script">
<script src="__PUBLIC__/Wap/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/Wap/js/function.js"></script>
<script src="__PUBLIC__/Wap/js/layer.js"></script>
<script>
    $(function(){
       $('.view_address').click(function(){
           $(this).find('i').toggleClass('fa-angle-up');
           $(this).parent().parent().find('.lottery_address').toggle(100);
       });

    })

    function sureAddress(_this)
    {
        //var _this=$(this);
        layer.open({
            content: '是否确定使用该地址？',
            btn: ['确认', '取消'],
            shadeClose: false, //默认：true，是否点击遮罩时关闭层,false 需要点击取消按钮才能关闭
            success: function(elem){
                //层成功弹出层的回调函数，返回一个参数为当前层元素对象
            },
            yes: function(){
                //回调事件，选择了确定按钮后执行的操作
                /*layer.open({content: '你点了确认', time: 1});*/
                _this.text('未发货').addClass('btn-disable').removeAttr('onclick');
                layer.closeAll() //关闭全部弹出层

            },
            no: function(){
                //回调事件，选择了取消按钮后执行的操作

            }
        });
    }
</script>
</block>
