<!doctype html>
<html lang="en">
  <head>
  	<meta property="qc:admins" content="30546147756371176375" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="icon" href="favicon.ico">
     <title>橙果云购 - 为生活创造惊喜</title>
     <meta name="keywords" content="1元，一元，一元云购，一元夺宝，1元云购，1元夺宝，一元购，1元购，橙果云购，橙果一元购，橙果1元购"/>
     <meta name="description" content="橙果云购是一个新型的、专业的众筹式购物商城。只需1元，您就有机会获得一件商品。橙果云购将倾力打造一个公正公平公开的环境，让您的生活充满惊喜！"/>
     <style>
     *{margin:0;padding: 0;text-decoration: none}
     body{font-family: '微软雅黑'}
        .mian{ width: 50%;margin: 50px auto 0px;padding: 0px 15px;box-sizing: border-box;}
        .title{width:100%;text-align:center;font-size: 20px;}
        .center p{width: 100%;line-height: 37px;font-size: 14px;}
        @media screen and (max-device-width: 1000px) { 
         .mian{ width: 100%;margin: 50px auto 0px;padding: 0px 15px;box-sizing: border-box;}
       }  
     </style>
  </head>
  <body>
    <div class="mian">

        <div class="center">
              <div class="title"><h3>橙果云购退款公告</h3></div><br/>
              <p style="font-size:13px;color:#666">致橙果云购全体用户:</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;因公司战略调整，橙果云购平台即日起停止运营。为了保障大家的权益，我司决定向橙果云购全体用户进行退款。</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我司于7月6日前，通过支付宝转账形式，将用户在橙果云购平台的消费金额（只限未开奖商品）和账户余额，退还到用户的支付宝（请用户确保用于注册橙果云购的手机号绑定了支付宝）。若有疑问，请致电400-006-7060咨询！</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;感谢大家对橙果云购的支持！我们也期待大家能继续支持我们公司的子平台——伙购网<a style="color:#00c" target="_blank" href="http://www.huogou.com">（http://www.huogou.com）。</a>
             伙购网是一个开奖快、玩家多、福利多、公平公正的成熟平台，能够给大家带来更安全的购物环境和更刺激的用户体验。</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们继续与您相约伙购网，相约7月1日，一起参加“猜中翻倍赚，不中100%包赔”的欧洲杯竞猜活动！</p>
               <p style="color:#666;text-align:right;">橙果云购</p>
               <p style="color:#666;text-align:right;">深圳市橙果网络科技有限公司</p>
               <p style="color:#666;text-align:right;">2016年6月28日</p>
       </div>
        <a style="margin-top: -420px;float:right" href="/cgyg2.0/index.php/Home/User/Login.html">退款用户点此<button type="button" id="login-btn" >登录</button></a>
    </div>
  </body>
</html>

