<!--继承 模板 头和尾 模板 -->
<extend name="Base/cg3"/>
<!-- 单独引入css -->
<block name="style">
    <link rel="stylesheet" href="__PUBLIC__/Wap/css/register.css?v=sdfsdf"/>
</block>

<block name="body">

    <!-- 关于我们开始 -->
    <div class="guanyu_box" style="">
        <img src="__PUBLIC__/Wap/images/logoNew.png">
        <p class="banben_v">橙果云购 &nbsp;V1.0</p>
    </div>
    <div class="guanyu_text">
        <p>官方微信：cgyg1234</p>
        <p style="border-bottom:none"><a style="color:#666;display:block" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODE3Mzg1MV8zOTMxMjNfNDAwMDA2NzA2MF8yXw" >企业QQ：4000067060 </a></p>
        <p style="margin-top:10px;">
            <a style="color:#666;display:block" href="tel:4000067060">客服电话：400-006-7060</a>
        </p>
        <p style="border-bottom:none">官方网址：http://www.cgyyg.com</p>
    </div>
    <!-- 关于我们结束 -->
</block>


