<!--继承 模板 头和尾 模板 -->
<extend name="Base/cg3"/>
<!-- 单独引入css -->
<block name="style">
    <link rel="stylesheet" href="__PUBLIC__/Wap/css/register.css?v=sdfsdf"/>
</block>

<block name="body">

	<!-- 修改密码开始 -->

    <div class="bang_passwodBox">
        <br/>
        <div class="register_main user_passwor"  >
            <div class="register_box_input">
                <div class="input_box">
                    <span style="width:68px">&nbsp;原密码：</span>
                    <input style="padding-left: 66px;" class="mobile_fff password" maxlength='11' type="password" name='mobile' placeholder='请输入6-20位密码！' value=''/>
                </div>
                <div class="input_box input_boxrg" style="border-radius:0px;">
                    <span style="width:68px">&nbsp;新密码：</span>
                    <input style="padding-left: 66px;" class="password password_re" maxlength='20' type="password" name='yanzhenma' placeholder='确认密码' value=''/>
                </div>
                <div class="input_box input_boxrg" style="border-top:none; ">
                    <span style="width:68px">&nbsp;新密码：</span>
                    <input style="padding-left: 66px;border-radius:0px 0px 5px 5px;" class="password password_reg" maxlength='20' type="password" name='yanzhenma' placeholder='确认密码' value=''/>
                </div>
                <button type="submit" style="margin-top:25px;" class="cgyg_button xiugaimima_bt">确认修改</button>
            </div>
        </div>
    </div>

	<!-- 修改密码结束 -->

</block>
<block name="script">
 <script type="text/javascript" src="__PUBLIC__/Common/jquery.md5.js"></script>
    <script type="text/javascript">
        $(function(){
            //提交密码
            $('.xiugaimima_bt').click(function(){
                var password 	 = $('.password').val();//旧密码
                var password_re  = $('.password_re').val();//新密码
                var password_reg = $('.password_reg').val();//确认新密码

                if(password=='' || password_re=='' || password_reg==''){
                    tanchuan_0('200','1000','200','请输入新旧密码！');
                    return false;
                }

                var patrn=/^(\w){6,20}$/;
                if(!patrn.test(password) || !patrn.test(password_re) || !patrn.test(password_reg)){
                    tanchuan_0('200','1000','200','请输入6-20个字符');
                    return false;
                }
                if( password_re != password_reg ){
                    tanchuan_0('200','1000','200','两次新密码不一致！');
                    return false;
                }
                $.ajax({
                    type:'post',
                    url:common_url+'/Member/up_password',//post 地址
                    data:{
                        password:$.md5(password),
                        password_re:$.md5(password_re),
                        password_reg:$.md5(password_reg)
                    },
                    dataType:'json',
                    success:function(data){
                        if(data["code"]==200){
						  
						   tanchuan_0('200','1000','200',data["message"]);
                            window.location.href="setup.html";
                        }else{
                            //alert(data["message"]);
                            tanchuan_0('200','1000','200',data["message"]);
                            return false;
                        }
                    },
                    error:function(){
                        tanchuan_0('200','1000','200','修改失败');
                    }
                });
            });
        });
    </script>
</block>
